body{
    font-family: Inter, sans-serif;
}
*{
    margin: 0;
    padding: 0;
}
.navbar{
    width: 90%;
    max-width: 1600px;
    display: flex;
    justify-content: space-between;
    margin: 0px auto;
    align-items: center;
}
.logo img{
    padding: 10px;
   
}
.navbar .option-bar{
    display: flex;
    gap: 32px;
    list-style: none;
    
}
.navbar .option-bar a{
    text-decoration: none;
    color: rgba(3, 3, 3, 0.753);
}
.nav-btn .btn{
    padding: 10px;
    color: #ffffff;

}
.btn {
    background-color: #469165fb;
    border-radius: 3px;
    border: none;
    cursor: pointer;
}
.btn:hover{
    background-color: rgb(5, 52, 112);
}
/* banner section */
.banner{
    width: 100%;
    max-width: 1600px;
    height: 674px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image:url('./image/hero-bg.png');
    background-repeat: no-repeat;
    margin: 0 auto;
}
.banner .banner-text{
    width: 80%;
    max-width: 1360px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.banner .banner-text h1{
    font-size: 3em;
    color: #ffffff;
    font-weight: 600;
}
.banner .banner-text h1 #inline-c{
    color: #16974c;
}
.banner .banner-text p{
    width:600px; 
    font-size: 0.95em;
    text-align: center;
    margin-top: 20px;
    line-height: 25px;
    color: #ffffff9d;
}
.banner-up-btn{
    width: 229;
    padding: 5px 10px;
    border-radius: 30px;
    color: #16974c;
    border: none;
    display: flex;
    gap: 5px;
    align-items: center;
}
.banner-up-btn img{
    width: 15px;
    padding: 2px;
}
.banner-up-btn{
    width: 229;
    padding: 5px;
    border-radius: 30px;
    color: #16974c;
    border: none;
    align-items: center;
}
.start-btn{
    width: 251px;
    padding: 15px;
    border: none;
    background-color: #3aa767fb;
    border-radius: 5px;
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    font-size: 1.03em;
    cursor: pointer;
}
.start-btn img{
    width: 20px;
}
.start-btn:hover{
    background-color: rgb(5, 52, 112);
}
.see-btn{
    width: 251px;
    padding: 15px;
    border: 1px solid white;
    background:none ;
    color: #ffffff;
    border-radius: 5px;
    font-size: 1.03em;
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.see-btn img{
    width: 20px;
}
.see-btn:hover{
    background-color: rgb(5, 52, 112);
}
.banner-btn{
    display: flex;
    gap: 20px;
}
/* note section */
#note{
    width: 80%;
    max-width: 1360;
    margin: 50px auto;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    text-align: center;
}
.note-continar{
    width: 90%;
    max-width: 1280px;
    display: flex;
    gap: 24px;
    padding: 24px;
    margin-top: 20px;
}
.notes{
    display: flex;
    gap: 20px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 250px;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 2px 6px 5px #4141411e ;
}
.notes img{
    background-color: #F95555;
    border-radius: 50%;
    padding: 10px;
}
.notes p{
    color: #414141;
}
.head-line p{
    font-size: smaller;
    color: #414141;
}
.head-line h1{
    padding: 30px;
    font-size: 2.5em;
    line-height: 20px;
    font-weight: bolder;
}
/* brain section  */
#second-brein{
    width: 90%;
    max-width: 1260px;
    margin: 120px auto;
    display: flex;
    gap: 50px;
    justify-content: center;
    align-items: center;
}
.sol{
    color: #16974c;
    line-height: 20px;
    font-size: 0.85em;
    padding-bottom: 10px;
}
.brain-text h1{
    line-height: 35px;
}
.brain-text .pera{
    width: 500px;
    color: #414141;
    padding-top: 10px;
    padding-bottom: 10px;
    text-wrap: unset;
}
.brain-text ul{
    line-height: 35px;
    padding-top: 25px;
}
.brain-list{
    list-style: none;
    display: flex;
    align-items: center;
}
/* early access section  */
#early-access{
    width: 90%;
    max-width: 1260px;
    margin: 50px auto;
    padding: 80px;
    background-color: rgba(255, 228, 196, 0.253);
    border-radius: 10px;
}
#early-access .e-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.e-text h1{
    padding: 10px;
    font-weight: bolder;
    line-height: 50px;
}
.e-text p{
    padding: 10px;
    text-wrap: unset;
    font-weight: 300;
    color: #414141;
    line-height: 20px;
}
.e-text button{
    margin: 20px 0;
}
/* footer section  */
footer{
    margin: 0px auto;
    width: 100%;
    max-width: 1600px;
    background-color: #001931;
}
.foot{
    padding: 100px;
    width: 90%;
    max-width: 1600px;
    display: flex;
    justify-content: space-between;
    margin: 0px auto;
    align-items: center;
}
.social{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    width: 200px;
}
.social img{
    width: 20px;
    padding: 5px;
}
.social p{
    color: #ffffff;
}
footer hr{
    width: 1450px;
    margin: 0 auto;
}
.copy-r{
    display: flex;
    justify-content: center;
    padding: 20px;
    margin-bottom: 10px;
}
.copy-r p{
    color: #ffffff;
}